<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840638745631-9p67uk656t82r2str9r8svliov0snonu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840638745631-9p67uk656t82r2str9r8svliov0snonu</string>
	<key>API_KEY</key>
	<string>AIzaSyAyJ036KELPzopgmXxSbW7K2W-_TtZr8MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>840638745631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdanov.instagramclone.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram--clone-8ee43</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram--clone-8ee43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840638745631:ios:26e3353219627b243a992a</string>
</dict>
</plist>